.brandSwiper {
  width: 100%;
  height: 520px;
  @media (max-width: 768px) {
    height: 300px;
  }
  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
