.puffSeriesSwiper {
  width: 100%;
  height: 305px;

  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

  &.active {
    background-color: $primary;
  }
}
