.puffSpecial {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

  @media (max-width: 768px) {
    height: auto;
    aspect-ratio: 9 / 16;
    min-height: 300px; /* 防止圖片太扁 */
    max-height: 516px;
  }
}

.puffSpecialImg {
  width: 80px;
  height: 80px;
  @media (max-width: 768px) {
    width: 60px;
    height: 60px;
  }
}

.contactBanner {
  height: 430px;
  width: 100%;
  object-fit: cover;
  @media (max-width: 768px) {
    height: 300px;
  }
}

.shopDetail {
  max-width: 350px;
  border: 4px solid #fff;
  z-index: 10;
}
