// 1. 引入 Bootstrap 必要函式
@import "bootstrap/scss/functions";

// 2. 引入自定義的變數
@import "./variables";

// 3. 引入 Bootstrap 剩餘的核心檔案
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/bootstrap";

@import "./base/base";

@import "./components/typography";
@import "./components/button";
@import "./components/header";
@import "./components/footer";
@import "./components/productCard";
@import "./components/cartStep";
@import "./components/cartTable";
@import "./components/toast";
@import "./components/formControl";
@import "./components/navigationCustom";

@import "./swiper/heroSwiper";
@import "./swiper/brandSwiper";
@import "./swiper/puffSeriesSwiper";
@import "./swiper/newSwiper";
@import "./swiper/productDetailSwiper";

@import "./home";
@import "./products";
@import "./productDetail";
@import "./login";
@import "./user";
@import "./checkout";

@import "./admin/adminOrders";
