/* --- 基礎 --- */
.btn-puff {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0;
}

/* --- 顏色與狀態零件 --- */

// Primary
.btn-puff-primary {
  background-color: $primary;
  color: $taupe-100;
  &:hover:not(:disabled) {
    background-color: $secondary;
    color: $taupe-100;
  }
  &.active {
    background-color: $secondary;
  }
  &:disabled {
    background-color: $blue-300;
    color: $taupe-50;
  }
}

.btn-puff-outline {
  border-color: $primary;
  color: $primary;
  background-color: transparent;

  &:hover:not(:disabled) {
    border-color: $secondary;
    background-color: $secondary;
    color: $taupe-100;
  }

  &.active {
    background-color: $primary;
    color: $taupe-100;
    border-color: $primary;
  }

  &:disabled {
    border-color: $blue-300;
    color: $blue-300;
  }
}

// White
.btn-puff-white {
  background-color: $taupe-100;
  color: $primary;
  &:hover:not(:disabled) {
    background-color: $secondary;
    color: $taupe-100;
  }
  &.active {
    background-color: $secondary;
    color: $taupe-100;
  }
}

// Yellow
.btn-puff-yellow {
  background-color: $secondary;
  color: $taupe-100;
  &:hover:not(:disabled) {
    filter: brightness(0.9);
    background-color: $orange-900;
    color: $taupe-100;
  }
  &:active,
  &.active {
    background-color: $orange-900;
    color: $taupe-100;
  }
  &:disabled {
    background-color: $orange-100;
    color: $gray-400;
  }
}

/* --- 尺寸零件 (保持不動) --- */
.btn-puff-cn-s {
  padding: 8px 16px;
}
.btn-puff-cn-m {
  padding: 12px 20px;
  @media (max-width: 768px) {
    padding: 8px 16px;
  }
}
.btn-puff-cn-l {
  padding: 16px 24px;
  @media (max-width: 768px) {
    padding: 12px 20px;
  }
}

.btn-puff-eng-s {
  padding: 8px 20px;
}
.btn-puff-eng-m {
  padding: 8px 24px;
  @media (max-width: 768px) {
    padding: 8px 24px;
  }
}
.btn-puff-eng-l {
  padding: 16px 40px;
  @media (max-width: 768px) {
    padding: 16px 40px;
  }
}

.btn-puff-favorite {
  width: 36px;
  height: 36px;
  z-index: 5;
  background-color: $blue-400;
  color: $taupe-200;
  &:hover:not(:disabled) {
    background-color: $secondary;
    color: $taupe-100;
  }
  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
    span {
      font-size: 16px;
    }
  }
}
