.transition-navbar {
  transition:
    background-color 0.4s ease-in-out,
    padding 0.4s ease-in-out;

  &.bg-transparent {
    background-color: transparent !important;
  }

  &.bg-primary {
    background-color: rgba($primary, 1) !important;
  }
}
