.navigationCustom {
  a {
    display: inline-block;
    background-color: $blue-200;
    color: $blue-300;
    padding: 12px;
    text-decoration: none;
    transition: all 0.3s ease;

    &.active {
      color: $taupe-200;
      background-color: $primary;
    }

    &:hover:not(.active) {
      background-color: darken($blue-200, 5%);
    }
  }
}
