/* --- 成功狀態  --- */
.lanuit-toast-flat.lanuit-toast-success {
  border: 1px solid #2e8b68 !important;
}

.lanuit-toast-flat.lanuit-toast-success .swal2-title {
  color: #002b1b !important;
}

.lanuit-toast-flat.lanuit-toast-success .lanuit-toast-progress {
  background: #4fb286 !important; /* Success 400 */
}

/* --- 失敗狀態  --- */
.lanuit-toast-flat.lanuit-toast-error {
  border: 1px solid #d64545 !important;
}

.lanuit-toast-flat.lanuit-toast-error .swal2-title {
  color: #3d0a0a !important;
}

.lanuit-toast-flat.lanuit-toast-error .lanuit-toast-progress {
  background: #d64545 !important;
}
