/* La Nuit Puff 專屬直角樣式 */
.lanuit-toast-flat {
  border-radius: 0 !important;
  border: 1px solid #5c6fa3 !important;
  padding: 1rem !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) !important;
}

/* 標題字體調整 */
.lanuit-toast-flat .swal2-title {
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.lanuit-toast-progress {
  background: #f2ae68 !important;
  height: 3px !important;
}
