.articlesImg {
  width: 159px;
  height: 179px;
  @include media-breakpoint-down(md) {
    width: 100%;
    height: 120px;
  }
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ck-editor__editable_inline {
  min-height: 400px;
  border: 1px solid #ccced1 !important;
  background-color: white;
}

.ck.ck-editor__main > .ck-editor__editable {
  border-radius: 0 !important;
}
.ck.ck-toolbar {
  border-radius: 0 !important;
}

.ck-content {
  line-height: 1.8 !important;
  letter-spacing: 0.05em;
}

.ck-editor__editable_inline {
  min-height: 400px;
  padding: 20px 40px !important;
}

.ck-content h2,
.ck-content h3 {
  margin-top: 2.5rem !important;
  margin-bottom: 1rem !important;
  font-weight: 600;
  color: #1a1a1a;
}
